nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: bold;
  font-color: blue;
}